<%= for survey <- @surveys do %>
  <div class="mt-2 flex flex-col bg-gray-50 rounded shadow p-4">
    <div class="flex flex-row justify-start">
        <h1 class="text-xl font-bold"><%= survey.name %></h1>
    </div>

    <div class="flex flex-row justify-start">
        <strong>Question:</strong>
        <%= survey.question %>
    </div>
    <span><%= link "Vote", to: Routes.vote_path(@socket, :index, survey.name) %></span>
  </div>
<% end %>
