<%= for survey <- @surveys do %>
  <div class="flex flex-col bg-gray-50 rounded shadow p-4">
    <div class="flex flex-row justify-start">
        <strong>Name:</strong>
        <%= survey.name %>
    </div>

    <div class="flex flex-row justify-start">
        <strong>Question:</strong>
        <%= survey.question %>
    </div>
    <span><%= live_redirect "Vote", to: Routes.vote_path(@socket, :index, survey.name) %></span>
  </div>
<% end %>
